/* RESET */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(./assets/alcoolBg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    top: 0px;
    height: 11vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50vh 50vh;
    background-color: rgba(0, 0, 0, 1);
    z-index: 500;
}

main {
    margin-top: 11vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
nav {
    display: inline-block;
    height: 15vh;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 30%;
    text-align: center;
    background-color: rgba(255, 217, 0, 0.231);
    text-shadow: 2px 2px 2px black;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    border-bottom: 2px solid gold;
}

.sousmenu {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav > ul li:hover .sousmenu {
    display: block;
}

.sousmenu li {
    float: none;
    width: 100%;
    text-align: left;
}

.sousmenu a {
    padding: 10px;
    border-bottom: none;
}

.sousmenu a:hover {
    border-bottom: none;
}

.deroulant {
    font-size: 1.5rem;
}

.logo {
    top:0;
    right: 0;
    height: 10vh;
    width : 33%;
    position:fixed;
    background-image: url(./assets/imgLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    }

.imgLogo {
    height: 11vh;
    width : 100%;
}

/* CONTENU */


/* PAVE GENERIQUE */
.bg {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 5vh;
    border-radius: 10px;
    padding: 10px;
    z-index: 400;
}

.paveImg {
    display: none;
}

.liste {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recette {
    margin-left: 5vw;
    margin-bottom: 3vh;
}

/* PAVE SPECIFICITES */
#p1 {
    grid-area: p1;
    background-color: rgba(255, 0, 255, 0.9);
    border: 2px solid magenta;
}

#p2 {
    grid-area: p2;
    background-color: rgba(0, 0, 255, 0.9);
    border: 2px solid blue;
}

#p3 {
    grid-area: p3;
    background-color: rgba(0, 100, 0, 0.9);
    border: 2px solid darkgreen;
}

#p4 {
    grid-area: p4;
    background-color: rgba(255, 20, 145, 0.9);
    border: 2px solid deeppink;
}

#p5 {
    grid-area: p5;
    background-color: rgba(128, 0, 128, 0.9);
    border: 2px solid purple;
}

#p6 {
    grid-area: p6;
    background-color: rgba(0, 0, 139, 0.9);
    border: 2px solid darkblue;
}

#p7 {
    grid-area: p7;
    background-color: rgba(165, 42, 42, 0.9);
    border: 2px solid brown;
}

#p8 {
    grid-area: p8;
    background-color: hsla(0, 100%, 50%, 0.9);
    border: 2px solid red;
}

#p9 {
    grid-area: p9;
    background-color: rgba(47, 79, 79, 0.9);
    border: 2px solid darkslategray;
}

p, h1 {
    font-family: 'Tangerine', cursive, sans-serif;
    color: gold;
    text-shadow: 1px 1px black;
} 

/* TEXTES */
p {
    font-size: 1.8rem;
}

h1 {
    font-size: 2rem;
}





/* RESPONSIVE TABLETS */
@media (min-width: 425px) { 
    main {
        padding-left: 5px;
        padding-right: 5px;
        display: grid;
        grid-template-areas:
            "p1 p2 p2 p3"
            "p5 p2 p2 p4"
            "p9 p9 p6 p4"
            "p9 p9 p6 p7"
            "p8 p8 p6 p7"
    }

    .bg {
        margin-left: 1vw;
        margin-right: 1vw;
    }

/* RESPONSIVE DESKTOPS */
@media (min-width: 1024px) {
    main {
        display : initial;
    }

    .bg {
        display:flex;
    }

    .paveImg {
        display: flex;
        align-items: stretch ;
    }

    .img {
        width: 35vw;
        height: auto;
    }

    .text {
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #p1, #p3, #p5, #p7, #p9 {
        margin-left: 15vw;
        margin-right: 7vw;
        padding-right: 7vw;
    }

    #p2, #p4, #p6, #p8 {
        flex-direction: row-reverse;
        margin-right: 15vw;
        margin-left: 7vw;
    }

    #p2 .text, #p4 .text, #p6 .text, #p8 .text {
        padding-right: 4vw;
    }

    #p1 {
        margin-top: 12vh;
    }

    p {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.4rem;
    }
}